<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card z-depth-2">
        <div class="card-content">
          <h5>여섯번째 연울림 : 연결</h5>
          <div class="divider"></div>
          <div class="section">
            <h6>초대의 말</h6>
            <p>
              다른 회차의 연울림 참가자들을 만나볼 수 있는 자리에 여러분을 초대합니다.
              이 초대장은 연울림에 한번이라도 참가했던 사람들에게만 전송되었습니다.
              여섯번째 연울림에서는, 서로 다른 회차에 참가했던 다양한 참가자들과 만나고 대화할 수 있는 자리를 준비했습니다.
              [시작, 관계, 가치, 나] 에 대해 정리된 생각을 가진 다채로운 사람들과 만나 당신의 세계를 넓게 하길 기대합니다. 
              1부 : 자신이 참여했던 연울림에서 가장 기억에 남았던 이야기 한 가지를 공유합니다.
              2부 : 서로 다른 주제의 연울림 참가자들과 함께 네트워킹 파티를 즐깁니다. 
            </p>

          <div class="divider"></div>
            <h6>하게될 것</h6>
            <p>
              연울림에서 소중한 이야기를 나눠주었던 분들을 위한 감사함
              우리만 알고 있기 아까웠던 모든 회차에서 만났던 사람들
              연울림 모임이 훨씬 아마추어였던 베타 모임에 오셨던 분들,
              첫 분더킨트 공식 모임에 와주셨던 사진작가님,
              폴리아모리에 대한 이야기 장을 만들어주었던 두번째 관계 모임 참석자 분들,
              ‘소통'의 가치를 가장 많이 뽑아주셨던 세번째 가치 모임 참석자 분들
              ‘나'에 대한 심도있는 이해로 앞으로의 인생에 더 나은 판단을 내리게 되었떤(?) 
              2월에 분더킨트에서 작품 전을 열 작가님과 멘토링 서비스 컨텐츠 담당자로 매일 일기를 쓰는게 취미라는 분
              살아가면서 부딪히는 많은 고민들과 그 고민을 해결했던 각자의 방식이 매력적이었던 많은 분들을 한 자리에 모아보고자 합니다.
              약간의 추억팔이와 함께 연울림의 공식적인 마무리를 짓고자 합니다?!
            </p>
            <p>
              연울림에서 소중한 이야기를 나눠주었던 분들을 위한 감사함
              우리만 알고 있기 아까웠던 모든 회차에서 만났던 사람들
              연울림 모임이 훨씬 아마추어였던 베타 모임에 오셨던 분들,
              첫 분더킨트 공식 모임에 와주셨던 사진작가님,
              폴리아모리에 대한 이야기 장을 만들어주었던 두번째 관계 모임 참석자 분들,
              ‘소통'의 가치를 가장 많이 뽑아주셨던 세번째 가치 모임 참석자 분들
              ‘나'에 대한 심도있는 이해로 앞으로의 인생에 더 나은 판단을 내리게 되었떤(?) 
              2월에 분더킨트에서 작품 전을 열 작가님과 멘토링 서비스 컨텐츠 담당자로 매일 일기를 쓰는게 취미라는 분
              살아가면서 부딪히는 많은 고민들과 그 고민을 해결했던 각자의 방식이 매력적이었던 많은 분들을 한 자리에 모아보고자 합니다.
              약간의 추억팔이와 함께 연울림의 공식적인 마무리를 짓고자 합니다?!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>