<div class="container" *ngIf="data">
  <div class="row">
    <div class="col s12">
      <div class="card z-depth-2">
        <div class="card-content purple">
          <h2>마지막 연울림에<br>당신을 초대합니다!</h2>
          <p>여섯 번째 연울림, 연결에서는<br>지난 [시작, 관계, 가치, 나] 연울림에 참여했던 <br class="selective"><span *ngIf="type === 'yeon'">모든 참가자들이</span><span *ngIf="type === 'nalida'">모든 참가자와 기획진이</span> 한자리에 모여 서로의 이야기를 공유합니다.</p>
        </div>
        <div class="card-content">
          <div>
            <ol class="requirements">
              <li>
                <div>
                  <h6>장소 및 일정</h6>
                  <p>2019.11.01 <br class="selective">19:00 - 21:00<br>*장소는 추후 공지</p>
                </div>
              </li>
              <li>
                <div>
                  <h6>참가 자격</h6>
                  <p>연울림 모임에 <br class="selective">한 번이라도 참여했던 <br class="selective">모든 사람들<span *ngIf="type === 'nalida'">,<br class="selective">그리고 날리다 기획진</span></p>
                </div>
              </li>
              <li>
                <div>
                  <h6>준비물</h6>
                  <p>1인분 정도의 <br class="selective">함께 나눌 식사 및 음료 <br class="selective">그리고 그동안의 이야기</p>
                </div>
              </li>
            </ol>
          </div>
          <div class="section">
            <div class="divider"></div>
            <h5>안녕하세요 {{ name }}님,</h5>
            <p *ngIf="type === 'yeon'">지난 연울림:{{ data.topic }} 이후로 어떻게 지내고 계셨나요?</p>
            <p *ngIf="type === 'nalida'">날리다를 졸업한 이후로 어떻게 지내고 계셨나요? <br class="selective">{{ data.story }}</p>
            <p *ngIf="type === 'yeon'">{{ data.story }}</p>
            <p *ngIf="type === 'yeon'">이렇게 갑작스럽다고 할 수 있는 메시지를 보내게 된 연유는 <br class="selective">{{ name }}님을 연울림의 공식적인 마지막 모임에 초대하고자 함입니다.</p>
            <p *ngIf="type === 'nalida'">이렇게 갑작스럽다고 할 수 있는 메시지를 보내게 된 연유는 <br class="selective">{{ name }}님을 날리다의 공식적인 마지막 모임에 초대하고자 함입니다.</p>
            <p *ngIf="type === 'yeon'">그동안 소규모의 기획진이 '스스로에 대한 이해'를 높일 수 있는 다양한 주제와 기획을 들고 연울림 모임을 진행해왔는데요. <br class="selective">기획진의 사정으로 앞으로의 연울림을 지속가능한 형태로 만들기 어려울 것 같아, 모임을 종료하기로 결정하였습니다 :)</p>
            <p *ngIf="type === 'nalida'">{{ name }}님이 졸업하신 뒤에 저희는 '연울림'이라는 살롱을 진행해왔는데요, <br class="selective">이전의 날리다 활동보다도 지속가능성에 가장 초점을 맞춘 기획이었지만 <br class="selective">결국은 팀의 마무리라는 결론을 내리게 되었습니다 ㅠㅠ</p>
            <p *ngIf="type === 'yeon'">그런 의미에서, <br class="selective">연울림에서 각자의 소중한 이야기를 나누어주셨던 모든 분들에 대한 감사함을 담아 연울림에 한 번이라도 참가했던 분들을 대상으로 마지막 모임을 진행하고자 하며, 참가를 위한 초대장을 보내드립니다.</p>
            <p *ngIf="type === 'nalida'">연울림에서 각자의 소중한 이야기를 나누어주셨던 모든 분들에 대한 감사함을 담아, <br class="selective">연울림에 한 번이라도 참가했던 분들을 대상으로 마지막 모임을 계획하고 있는데, <br class="selective">날리다를 함께 만들었던 {{ name }}님도 함께 참가하셨으면 해서 초대장을 보내드립니다.</p>
            <div class="divider"></div>
            <h2># 연울림 모임은</h2>
            <p>사람들은 각자의 방식으로 현상을 인식하고, 이해하고, 느끼고 있죠. <br class="selective">그리고 나만이 경험하는 특별한 시간을 보냅니다. 그 속에서 우리는 각자의 가치관과 각자의 고민을 가지게 됩니다.</p>
            <p>평소에 이런 개인적인 생각들은 수면 위로 잘 드러나지 않습니다. 가치관을 가감없이 이야기하기엔 사회에서 수용 가능한 범위가 제한적이고, 고민을 숨김없이 이야기하기엔 나의 고민을 진심으로 귀 기울여줄 사람이 부족하니까요.</p>
            <p>그래서 연울림이 기획되었습니다. 연울림의 연(讌)은 이야기할 연이고, 울림은 다양한 사람들의 이야기가 공명하는 순간을 담은 단어입니다.</p>
            <a href="https://brunch.co.kr/@nalida/20"><button>연울림 기획의도 브런치</button></a>
            <div class="divider"></div>
            <h2># 지금까지 우리는</h2>
            <p>[시작, 관계, 가치, 나] 네 개의 주제에 대해 30여 명의 동료들과 이야기를 나누었습니다. <br class="selective">각 모임에 대한 개요를 아래 링크를 통해 확인할 수 있습니다.</p>
            <p>첫 번째 연울림, 시작</p>
            <a href="https://brunch.co.kr/@nalida/24">
              <img src="./assets/y1.PNG">
            </a>
            <p>두 번째 연울림, 관계</p>
            <a href="https://brunch.co.kr/@nalida/25">
              <img src="./assets/y2.PNG">
            </a>
            <p>세 번째 연울림, 가치</p>
            <a href="https://brunch.co.kr/@nalida/27">
              <img src="./assets/y3.PNG">
            </a>
            <p>네 번째 연울림, 나</p>
            <a href="https://brunch.co.kr/@nalida/28">
              <img src="./assets/y4.PNG">
            </a>
            <div class="divider"></div>
            <h2># 마지막 연울림에서는</h2>
            <div class="cloud-box">
              <p class="first">서로 다른 회차에 참가했던 다양한 참가자들과 만나고 대화할 수 있는 자리를 준비했습니다.</p>
              <p>[시작, 관계, 가치, 나] 에 대해 정리된 생각을 가진 다채로운 사람들과 만나 당신의 세계를 넓게 하길 기대합니다.</p>
              <p *ngIf="type === 'yeon'"><b>1부 : 자신이 참여했던 연울림에서 가장 기억에 남았던 이야기 한 가지를 공유합니다.</b></p>
              <p *ngIf="type === 'nalida'"><b>1부 : 연울림, 혹은 날리다와 관련되어 가장 기억에 남았던 이야기 한 가지를 공유합니다.</b></p>
              <p *ngIf="type === 'yeon'"><b>2부 : 서로 다른 주제의 연울림 참가자들과 함께 네트워킹 파티를 즐깁니다.</b></p>
              <p *ngIf="type === 'nalida'"><b>2부 : 날리다 기획진과 연울림 참가자가 함께 네트워킹 파티를 즐깁니다.</b></p>
            </div>
            <div class="divider"></div>
            <div class="footer">
                <p>연울림 모임이 훨씬 아마추어였던 <br class="selective2">베타 모임에 오셨던 분들,</p>
                <br class="selective2">
                <p>시작을 주제로 했던 첫 분더킨트 <br class="selective2">공식 모임에 와주셨던 분들,</p>
                <br class="selective2">
                <p>폴리아모리에 대한 이야기 장을 <br class="selective2">만들었던 두번째 관계 모임 참석자 분들,</p>
                <br class="selective2">
                <p>‘소통'의 가치를 가장 많이 뽑아주셨던 <br class="selective2">세번째 가치 모임 참석자 분들,</p>
                <br class="selective2">
                <p>‘나'에 대한 깊은 이야기를 나누었던 <br class="selective2">네번째 나 모임 참석자 분들,</p>
                <br class="selective2">
                <p>뒤풀이마저 연울림이었던 <br class="selective2">다섯번째 가치 모임 참석자 분들,</p>
                <br class="selective2">
                <div class="splitter"></div>
                <p *ngIf="type === 'yeon'">모두 연울림에 관심을 주셔서, 참여해주셔서 감사합니다. <br class="selective">마지막 연울림 모임에 참여하셔서 저희의 마무리를 함께 해주시길 바랍니다!</p>
                <p *ngIf="type === 'nalida'">...등등, <br class="selective">{{ name }}님이 졸업한 이후에 저희가 만난 좋은 사람들을 함께 만나보면서, <br class="selective">날리다의 마지막 추억을 함께 할 수 있으면 좋겠습니다 :)</p>
                <div class="splitter"></div>
                <p *ngIf="data.message">p.s. {{ data.message }}</p>
                <div class="splitter"></div>
                <a href="https://moaform.com/q/b6gv1m"><button>참가신청 바로가기</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>